*.pyc
__pycache__/

.idea/

_build/

cluster/volumes/liquidregtest/config/regtest/

cluster/volumes/liquidregtest/liquid-config/liquidregtest/

cluster/volumes/signet/config/regtest/

cluster/volumes/signet/liquid-config/liquidregtest/

liquid-swap-plugin

db
dist/

peerswap

peerswap_pytest/__pycache__/

.ci/docker/config/**

# the vscode workspace config dir
.vscode

# generated dev liquid nodes
.ci/docker/liquid-config/**
.ci/docker/liquid-config2/**