*.pyc
__pycache__/

.idea/

_build/

cluster/volumes/liquidregtest/config/regtest/

cluster/volumes/liquidregtest/liquid-config/liquidregtest/

cluster/volumes/signet/config/regtest/

cluster/volumes/signet/liquid-config/liquidregtest/

db
dist/

.ci/docker/config/**

# the vscode workspace config dir
.vscode

# generated dev liquid nodes
.ci/docker/liquid-config/**
.ci/docker/liquid-config2/**

# build output
peerswap
out/peerswapd
out/peerswap
out/pscli
out/test-builds/peerswapd
out/test-builds/peerswap
out/test-builds/pscli
